<div class='header'>
  <!-- logo -->
  <div class='navbar-brand'>
    <a class='navbar-item'>
      <img src='../../../assets/images/aeslogo.png'>
    </a>
  </div>
  <div class='navbar-nav'>
  <nav>
    <a routerLink='home' routerLinkActive='active'>Home</a>
    <a routerLink='services' routerLinkActive='active'>Services</a>
    <a routerLink='sales' routerLinkActive='active'>Upcoming Sales</a>
    <a routerLink='about' routerLinkActive='active'>Who I Am</a>
    <a routerLink='contact' routerLinkActive='active'>Contact Me</a>
  </nav>
  </div>
</div>
