<footer class='footer'>
  <div class='container'>
    <div class='content has-text-left'>
      <div class='address'>
        <img src='../../../assets/images/pin.png'>
        <div class='add-details'>
          <p>123 New York Street</p>
          <p>Lawrence, Kansas 66044</p>
        </div>
      </div>
      <div class='address'>
        <img src='../../../assets/images/envelope.png'>
        <div class='add-details'>
          <a href='mailto:email@email.com'>randy@gmail.com</a>
        </div>
      </div>
      <br />
      <div class='address'>
        <img src='../../../assets/images/call-answer.png'>
        <div class='add-details'>
          <a href='facetime:785-123-4567'>785.123.4567</a>
        </div>
      </div>
    </div>
    <div class='content has-text-centered'>
      <p>Ready to take the next step? Fill out the service form below:</p>
      <hr width=40%>
      <a href='#'>Estate Sale Form</a>
    </div>
    <div class='content has-text-right'>
      <p>Follow my estate sale adventures</p>
      <div class='link-icons'>
        <a href='#' class='fa fa-facebook'></a>
        <a href='#' class='fa fa-twitter'></a>
        <a href='#' class='fa fa-instagram'></a>
        <a href='#' class='fa fa-youtube'></a>
      </div>
    </div>
  </div>
</footer>
