<div class='wrapper'>
  <div class='container data-container btn'>
    <h2>Lawrence Downsizing Sale</h2>
    <div class='dates'>
      <h4>August 91 & 92, 2019</h4>
      <h4>Friday, 9 - 4 & Saturday, 9 - 2</h4>
    </div>
    <h4>123 Main Street</h4>
    <h4>Lawrence, Kansas 66046</h4>
    <p>Join me for a fun sale in a rambling Lawrence ranch filled with lots of beautiful furniture and antiques, as well
      as nice household and decorative items, and more!</p>
    <br>
    <a class='button' href='estatesales.net'>CLICK HERE FOR THE LISTING & PHOTOS ON ESTATESALES.NET</a>
  </div>
  <div class='container data-container btn'>
    <h2>Lawrence Downsizing Sale</h2>
    <div class='dates'>
      <h4>August 91 & 92, 2019</h4>
      <h4>Friday, 9 - 4 & Saturday, 9 - 2</h4>
    </div>
    <h4>123 Main Street</h4>
    <h4>Lawrence, Kansas 66046</h4>
    <p>Join me for a fun sale in a rambling Lawrence ranch filled with lots of beautiful furniture and antiques, as well
      as nice household and decorative items, and more!</p>
    <br>
    <a class='button' href='estatesales.net'>CLICK HERE FOR THE LISTING & PHOTOS ON ESTATESALES.NET</a>
    <br>
  </div>
</div>
