<div class='container data-container btn'>
  <h2>My Services</h2>
  <p>
    American Estate Sales offers a complete range of estate sale and downsizing services including organizing, sorting, disposing of trash, donating unwanted items, pricing, advertising, conducting the sale, and final clean-out. I will take care of everything from the beginning to the end, leaving a house broom-clean and ready for closing. I can make a daunting process simple.
  </p>
  <p>
    <a class='contact' href='contact'>Contact me</a> for a consultation in your home and let me help you make a difficult process easier. I will provide an honest evalutation of your sale potential, regardless of handling the sale.
  </p>
</div>
<div class='container data-container btn'>
  <h2>My Story</h2>
  <p>
    Randy's story goes here. It's a lovely tale of heroism, strength, and honor. A gorgeous photo of Randy will be presented below his story, so everyone can see what an awesome guy he is. He launched American Estate Sales because he know more about the industry and the value of possessions than the people on Antiques Roadshow.
  </p>
  <img class='portrait' src='../../../assets/images/IMG_2227.PNG' />
  <p class='caption'>
    I told you his photo would be outstanding. You need to get a hold of him as soon as possible!
  </p>
</div>


