<div class='container data-container btn'>
  <p>
      American Estate Sales offers a complete range of estate sale and downsizing services including organizing, sorting, disposing of trash, donating unwanted items, pricing, advertising, conducting the sale, and final clean-out. We’ll take care of everything from the beginning to the end, leaving a house broom-clean and ready for closing. We can make a daunting process simple.
  </p>
  <p>
    <a href='contact.html'>Contact me</a> for a consultation in your home and let us help you make a difficult process a little bit easier.
  </p>
</div>
