<div class='container data-container btn'>
  <p>
      American Estate Sales offers a complete range of estate sale and downsizing services including organizing, sorting, disposing of trash, donating unwanted items, pricing, advertising, conducting the sale, and final clean-out. We’ll take care of everything from the beginning to the end, leaving a house broom-clean and ready for closing. We can make a daunting process simple.
  </p>

</div>
<!--
  <hr style="background-color:black" />
  <div class="row">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let image of images" class="slide">
        <img src="{{ image.img }}" width="100%">
      </div>
    </ngx-slick-carousel>
  </div> -->
