<div class='container'>
  <h2>Estate Sales are a simple and profitable way to sell all the items in your house.</h2>

  <h3>The estate sale process doe not need to be confusing. I handle every stage and leave you with a clean and empty house. <a href='#schedule'>Schedule your free consultation.</a></h3>

  <div class='card'>
    <h4>Pre-Sale</h4>
    <div class='card-body'>
      <p>Organizing / Pricing / Advertising</p>
    </div>
  </div>
  <div class='card'>
    <h4>Sale Days</h4>
    <div class='card-body'>
      <p>Permit & Signs / Customer Services / Register System</p>
    </div>
  </div>
  <div class='card'>
    <h4>Post Sale</h4>
    <div class='card=body'>
      <p>Clean Out / Payment / Feedback</p>
    </div>
  </div>

  <div id='schedule'>
    <h4>Schedule a Free In-Home Consultation</h4>
  </div>
</div>
